# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
backend/venv/

# Environment files
.env
.env.*

# Django
*.log
db.sqlite3
media/
staticfiles/

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Python packaging
build/
dist/
*.egg-info/

# Cache
.pytest_cache/
.mypy_cache/